<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868914440889-dvlca5d84vash107k3ndlvg52vi0u7q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868914440889-dvlca5d84vash107k3ndlvg52vi0u7q2</string>
	<key>API_KEY</key>
	<string>AIzaSyBmfhq9gEZk0K9q7PxE69pmSD6Th06w8EE</string>
	<key>GCM_SENDER_ID</key>
	<string>868914440889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BKD.bkdrental</string>
	<key>PROJECT_ID</key>
	<string>bkd-mobile-a28af</string>
	<key>STORAGE_BUCKET</key>
	<string>bkd-mobile-a28af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868914440889:ios:818f98f034287ea0148968</string>
</dict>
</plist>